body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#yourDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Styles {
    font-family: '3D Isometric';
    color: #007bff;
}
